@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@ @*isso eh um comentario -> com isso ele tah usando o template do _ViewStart.cshtml*@ 


@{
    ViewBag.Title = "Movie List";   
}

<h2>My Movie List</h2>

<p>Bem vindo a minha primeira aplicação Asp.net</p>